<div class="container">
    <div>Debug: {{currentServer}}</div>
    <div class="row">
        <h1>ALL KITS</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <form name="filters">
                <h2>Sort by</h2>
                <input type="radio" name="sort" value="Popular"> Popular<br>
                <input type="radio" name="sort" value="New"> New<br>
                <input type="radio" name="sort" value="Top"> Top Rated<br>
                <input type="radio" name="sort" value="asc"> Item Name (A-Z)<br>
                <input type="radio" name="sort" value="desc"> Item Name(Z-A)<br>
                <input type="radio" name="sort" value="price-up"> Price (Low - High)<br>
                <input type="radio" name="sort" value="price-down"> Price (High - Low)<br>
                <h2>Filter by</h2>
                <h3>Special Offers</h3>
                <input type="radio" name="special" value="new"> New<br>
                <input type="radio" name="special" value="sale"> Sale<br>
                <h3>Price</h3>
                <input type="radio" name="price" value="$"> $10 - $20<br>
                <input type="radio" name="price" value="$$"> $20 - $50<br>
                <input type="radio" name="price" value="$$$"> $50 - $100<br>
                <input type="radio" name="price" value="$$$"> $100+<br>
                <input type="submit" value="Clear">
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-3 col-sm-6" *ngFor="let kit of kits">
                    <div class="product-grid">
                        <div class="product-image">
                            <a class="kit-page" data-toggle="modal" data-target="#product-view" (click)="openKit(kit)">
                                <img src={{kit.Image}}>
                            </a>
                            <ul class="social">
                                <li><a data-toggle="modal" data-target="#product-view" (click)="openKit(kit)">
                                        <i class="fas fa-eye"></i>
                                    </a></li>
                                <li><a data-tip="Add to Wishlist" data-target="#product-view" (click)="wishKit(kit)">
                                        <i class='fas fa-heart'></i>
                                    </a></li>
                            </ul>
                            <span class="product-new-label">{{kit.NewFlag}}</span>
                            <span class="product-discount-label">-{{kit.Discount | percent}}</span>
                        </div>
                        <div class="product-content">
                            <h3 class="title">{{kit.KitName}}</h3>
                            <div class="price">
                                {{kit.PriceDis | currency }}
                                <span>{{kit.Price | currency }}</span>
                            </div>
                            <button (click)="addToCart(kit)">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade product_view" id="product-view">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" data-dismiss="modal" class="class pull-right"><span
                        class="glyphicon glyphicon-remove"></span></a>
                <h3 class="modal-title">{{this?.openkit?.KitName}}</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <img class="mw-100" src={{this?.openkit?.Image}}>
                    </div>
                    <div class="col-md-6 product_content">
                        <h4>Product Id: <span>{{this?.openkit?.KitID}}</span></h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy
                            text of the printing and typesetting industry.</p>
                        <h3 class="cost">{{this?.openkit?.PriceDis | currency }}
                            <span><small class="pre-cost">{{this?.openkit?.Price | currency }}</small></span></h3>
                        <div class="row">
                        </div>
                        <div class="space-ten"></div>
                        <div class="btn-ground">
                            <button (click)="addToCart(this?.openkit)"><span>
                                    <i class='fa fa-icon-cart'></i>
                                </span>Add to Cart</button>
                            <button (click)="addToWish(this?.openkit)"><span>
                                    <i class='fa fa-icon-heart'></i>
                                </span>Add To Wishlist</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>