.row {
  margin: auto;
  width: 98.55%;
}
form h3 {
  text-align: left;
  color: black;
  font-size: medium;
  margin-top: 1%;
}
input[type="submit"] {
  background: maroon;
  color: white;
  margin-top: 3%;
  margin-right: 3%;
}
.product_view .modal-dialog {
  width: 1000px;
}
.pre-cost {
  text-decoration: line-through;
  color: #a5a5a5;
}
.space-ten {
  padding: 10px 0;
}
.modal-body img{
  max-width: 100%;
}
.btn-ground button {
  float: left; /* Float the buttons side by side */
}

.btn-ground button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-ground:after {
  content: "";
  clear: both;
  display: table;
}
.modal-body p{
  font-size: small;
}