.row {
  margin: auto;
  width: 98.55%;
}
form h3 {
  text-align: left;
  color: black;
  font-size: medium;
  margin-top: 1%;
}
input[type="submit"] {
  background: maroon;
  color: white;
  margin-top: 3%;
  margin-right: 3%;
}
.product_view .modal-dialog {
  max-width: 800px;
  width: 100%;
}
.pre-cost {
  text-decoration: line-through;
  color: #a5a5a5;
}
.space-ten {
  padding: 10px 0;
}
