<h1>Most Asked</h1>
<ejs-accordion>
      <e-accordionitems>
        <e-accordionitem>
          <ng-template #header>
            <div class = "first"><strong>Where do you ship to?</strong></div>
          </ng-template>
          <ng-template #content>
            <div>We currently ship anywhere in the United States.
            </div>
          </ng-template>
        </e-accordionitem>
        <e-accordionitem>
          <ng-template #header>
            <div><strong>Are kits customizable?</strong></div>
          </ng-template>
          <ng-template #content>
            <div>Some of our kits allow you to pick colors for certain items. However, you cannot add or delete items from kits.
            </div>
          </ng-template>
        </e-accordionitem>
        <e-accordionitem>
          <ng-template #header>
            <div><strong>Do you accept returns?</strong></div>
          </ng-template>
          <ng-template #content>
            <div>If you are not satisfied with your kit or your kit was damaged during shipping, we will work with you on getting a new kit or return for a full refund.
            </div>
          </ng-template>
        </e-accordionitem>
       <e-accordionitem>
             <ng-template #header>
               <div class = "first"><strong>How do I track my order?</strong></div>
             </ng-template>
             <ng-template #content>
               <div>You can scroll to the bottom of this page and click on the Trck My Order link and follow the instructions on the page.
               </div>
             </ng-template>
        </e-accordionitem>
    <e-accordionitem>
              <ng-template #header>
                <div class = "first"><strong>Can I just purchse a few items instead of the whole kit?</strong></div>
              </ng-template>
              <ng-template #content>
                <div>Sorry, our kits are sold as is. You cannot buy items individualy
                </div>
              </ng-template>
            </e-accordionitem>
      </e-accordionitems>
    </ejs-accordion>