<div class="container">
    <h1>Frequently Asked Questions</h1>
    <br>
    <h2>Returns</h2>
    <ejs-accordion>
          <e-accordionitems>
                <e-accordionitem>
                      <ng-template #header>
                            <div class="first"><strong>How do I return my purchase?</strong></div>
                          </ng-template>
                      <ng-template #content>
                            <div>If you would like to return an item, please click on the return link located at the
                        bottom of the page. Input your order number and select the item that you would like to return.
                        Once
                        you have selected the item, click create a return ticket. you will be emailed a return label so
                        you
                        can ship the item back to us.
                                </div>
                          </ng-template>
                    </e-accordionitem>
                <e-accordionitem>
                      <ng-template #header>
                            <div class="first"><strong>How do I return a gift sent to me?</strong></div>
                          </ng-template>
                      <ng-template #content>
                            <div> If you would like to return a gift, you can contact us by clicking the contact us link
                        at the bottom
                        of the page. In the "whats on your mind" section box, please tell us you are returning a gift.
                        We will create
                        a shipping label so you can ship the item back to us.
                                </div>
                          </ng-template>
                    </e-accordionitem>
                <e-accordionitem>
                      <ng-template #header>
                            <div class="first"><strong>How do I retrieve a misplaced label?</strong></div>
                          </ng-template>
                      <ng-template #content>
                            <div>If your label has been lost or misplaced, you can click the contact us link at the
                        bottom of the page and
                        tell us what happened. Please include your order number or other reason for return and we will
                        replace the lost
                        label for you.
                                </div>
                          </ng-template>
                    </e-accordionitem>
            <e-accordionitem>
                     <ng-template #header>
                           <div class="first"><strong>How long does it take for me to get my return?</strong></div>
                         </ng-template>
                     <ng-template #content>
                           <div>We will work fast to get your return processed as quickly as possible! Our returns
                        normally process between 2 to 3 business days.
                               </div>
                         </ng-template>
                    </e-accordionitem>
             
        </e-accordionitems>
    </ejs-accordion>
    <h2>General</h2>
    <ejs-accordion>
          <e-accordionitems>
                <e-accordionitem>
                      <ng-template #header>
                            <div class="first"><strong>What countries is shipping offered in?</strong></div>
                          </ng-template>
                      <ng-template #content>
                            <div>We currently ship anywhere in the United States.
                                </div>
                          </ng-template>
                    </e-accordionitem>
                <e-accordionitem>
                      <ng-template #header>
                            <div class="first"><strong>How do I customize a kit?</strong></div>
                          </ng-template>
                      <ng-template #content>
                            <div>Some of our kits allow you to pick colors for certain items. When you choose the kit
                        that you would like to purchase, you will have the option to
                        choose between different colors. However, you cannot add or delete items from kits.
                                </div>
                          </ng-template>
                    </e-accordionitem>
                <e-accordionitem>
                      <ng-template #header>
                            <div class="first"><strong>How do I purchase individual items?</strong></div>
                          </ng-template>
                      <ng-template #content>
                            <div>We currently do not offer the ability to buy individual items, we only sell the items
                        as part of a kit.
                                </div>
                          </ng-template>
                    </e-accordionitem>
            <e-accordionitem>
                     <ng-template #header>
                           <div class="first"><strong>How can I write a review on a product?</strong></div>
                         </ng-template>
                     <ng-template #content>
                           <div>You can click on the "Write a review" link that is located below the kit on the kit
                        page.
                               </div>
                         </ng-template>
                    </e-accordionitem>
            <e-accordionitem>
                      <ng-template #header>
                            <div class="first"><strong>How do I unsubscribe from your mailing list?</strong></div>
                          </ng-template>
                      <ng-template #content>
                            <div>If you would no longer like to be a part of our mailing list, you can click the
                        "unsubscribe from mailing list"
                        located at the bottom of any email newsletter we have sent you. You can also send us a message
                        from the "contact us" page
                        and request to be taken off of our mailing list.
                                </div>
                          </ng-template>
                    </e-accordionitem>
            <e-accordionitem>
                      <ng-template #header>
                            <div class="first"><strong>How do I update my account information?</strong></div>
                          </ng-template>
                      <ng-template #content>
                            <div>To update your account information, click the "my account" tab located on the menu bar.
                        From there,
                        you can click account information, to bring you to your account page to update all of your
                        information.
                                </div>
                          </ng-template>
                    </e-accordionitem>
             
        </e-accordionitems>
    </ejs-accordion>

    <h2>Payment Information</h2>
    <ejs-accordion>
          <e-accordionitems>
                <e-accordionitem>
                      <ng-template #header>
                            <div class="first"><strong>What forms of payment do you accept?</strong></div>
                          </ng-template>
                      <ng-template #content>
                            <div><strong>We accept:</strong>
                        <ul>
                            <li>Visa</li>
                            <li>Mastercard</li>
                            <li>American Express</li>
                            <li>Discover</li>
                            <li>JCB</li>
                        </ul>
                               
                    </div>
                          </ng-template>
                    </e-accordionitem>
                <e-accordionitem>
                      <ng-template #header>
                            <div class="first"><strong>Can I pay with multiple cards?</strong></div>
                          </ng-template>
                      <ng-template #content>
                            <div>Sorry, we currently only allow you to pay with a single card.
                                </div>
                          </ng-template>
                    </e-accordionitem>
                <e-accordionitem>
                      <ng-template #header>
                            <div class="first"><strong>Do you allow money orders?</strong></div>
                          </ng-template>
                      <ng-template #content>
                            <div>Sorry, we currently do not allow money orders.
                                </div>
                          </ng-template>
                    </e-accordionitem>
              </e-accordionitems>
    </ejs-accordion>
</div>