<div class="container">
  <div class="row">
    <h1>Hi {{this.currentUser.firstName}}</h1>
  </div>
  <div>
    <h2>Account Information</h2>
    <p><strong>First Name:</strong> {{this.currentUser.firstName}}</p>
    <p><strong>Last Name:</strong> {{this.currentUser.lastName}} </p>
    <p><strong>Email:</strong> {{this.currentUser.username}}</p>
    <h2>Order History</h2>
  </div>
  <div class="row shadow p-3 mb-5 bg-white rounded">
    <div class='title col text-left'>
      <div>PO Number</div>
    </div>
    <div class='title col text-left'>
      <div>Purchase Date</div>
    </div>
    <div class='title col text-left'>
      <div>Kit Name</div>
    </div>
  </div>
  <div class="row shadow p-3 mb-5 bg-white rounded" *ngFor="let order of orders">
      <div class='col text-left'>
        <div>{{order.OrderID}}</div>
      </div>
      <div class='col text-left'>
        <div>{{order.OrderDate}}</div>
      </div>
      <div class='col text-left'>
        <div>{{order.KitName}}</div>
      </div>
    </div>
</div>
