<div class="row">
    <h1>WISH LIST</h1>
</div>
<div class="container">
        <div class="row shadow p-3 mb-5 bg-white rounded" *ngFor="let kit of wish">
                <div class='col-3'>
                  <img src={{kit.Image}}>
                </div>
                <div class='col-7'>
                  <p>{{kit.KitName}}</p>
                  <div>{{kit.Description}}</div>
                </div>
                <div class='price col-2'>
                  <div>{{kit.PriceDis | currency}}</div>
                </div>
              </div>

</div>
