h1 {
  text-align: center;
  margin: auto;
  font-size: 4em;
}
h3 {
  letter-spacing: 2px;
  font-size: medium;
  color: maroon;
}
.row {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1%;
}
label {
  margin-left: 1%;
  font-size: small;
}
.btn.btn-primary {
  background-color: maroon;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: large;
  height: 40px;
  border: none;
  color: white;
  width: 70%;
}
.btn.btn-primary:hover {
  opacity: 0.9;
  background-color: maroon;
}
.forgot {
  float: right;
  padding-right: 20%;
  cursor: pointer;
}
a {
  text-decoration: none;
}
.form-group {
  width: 80%;
}
button{
  background-color: maroon;
  color: white;
}
.pl-3{
  float: right;
}
.form-control{
  border-color: black;
}