<br>
<body>
    

   
    <main>

      
      <article>
        <h2>Our Mission Statement</h2>

        <p>Our mission is to deliver quality products and to uphold the highest standards of service and professionalism in our business.</p>

        <h2>Our Vision</h2>

        <p>Our vision is to be the worlds best kit service business. Being able to provide kits to everyone to reduce stress and anxiety of planning for events or disasters. </p>


        <h2>Why EveryDay Kits? </h2>

        <p>We know that planning for all sorts of different events can be quite a hassle. You have to make a list of everything you need and hope you do not forget anything.
            That is why we made EveryDay Kits. Everday Kits allows you to buy kits for parties, camping, hurricaines, and more! Everything you need for your event will be included 
            in your kit that you purchase. No more making a list and having to go to the store, just go online and look for the kit you need and order.
        </p>

      </article>

      <aside>
        <h2>Our Objectives</h2>

        <ul>
          <li>Provide high quality kits at reasonable prices</li>
          <li>Provide excellent customer service</li>
          <li>Save people time and resources through buying our kits</li>
          <li>Reduce the stress and anxiety for preparing for events or disasters</li>
        </ul>
      </aside>

    </main>


  </body>