
h1 {
    text-align: center;
}

h2 {
    background-color: maroon;
    color: white;
}
article {
    width: 50%;
}

p {
    padding-left: 20px !important;
}

h2 {
    padding-left: 10px;
}

aside {
    width: 50%;
}