 table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: auto;
  }
td, th {
    text-align: center;
    padding: 6px;
  } 
  h2{
    margin-left: 10px;
  }
  p {
    max-width: 95%;
    margin-left: 20px;
}