<div class="row">
  <h1>Online Returns</h1>
</div>
<div class="row">
  <div class="col-lg-6 col-md-12">
    <h3>1. Retrieve Your Order</h3>
    <form [formGroup]="retrieveOrderForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="orderNum">Order Number:</label>
        <input type="text" formControlName="orderNum" class="form-control" />
        <div *ngIf="submitted && loginForm.controls['username'].hasError('required')" class="error-message"> Order
          Number is required
        </div>
      </div>
      <div class="form-group">
        <label for="email">E-mail Address</label>
        <input type="email" formControlName="email" class="form-control" />
        <div *ngIf="submitted && loginForm.controls['password'].hasError('required')" class="error-message"> E-mail
          Address is required
        </div>
      </div>
      <div class="form-group">
        <button class="button" type="submit">Retrieve Order</button>
      </div>
    </form>
  </div>
  <div class="col-lg-6 col-md-12">
    <h3>2. Choose A Reason For Return</h3>
    <form [formGroup]="returnReasonForm" (ngSubmit)="onSubmit()">
      <div class="radio">
        <input type="radio" name="damage"><label><span><span></span></span>Item Damaged</label>
      </div>
      <div class="radio">
        <input type="radio" name="missing"><label><span><span></span></span>Missing Products</label>
      </div>
      <div class="radio">
        <input type="radio" name="wrong"><label><span><span></span></span>Wrong Item Bought</label>
      </div>
      <div class="radio">
        <input type="radio" name="mistake"><label><span><span></span></span>Order Placed By Mistake</label>
      </div>
      <div class="radio">
        <input type="radio" name="inaccurate-description"><label><span><span></span></span>Inaccurate Website
          Description</label>
      </div>
      <div class="form-group">
        <label for="other">Other:</label>
        <input type="other" formControlName="other" class="form-control">
      </div>
      <div class="form-group">
        <button class="button" type="submit">Create Return</button>
      </div>
    </form>
  </div>
</div>