<!--<div class="siteLogo" role="banner">
  <a href="http://localhost:4200/" title="home">
    <img width="500" alt="Site Logo" src="../assets/tempLogo.png" />
  </a>
</div>
<nav [ngClass]="'menu'">
  <a routerLink="/home" routerLinkActive="active-link">Home</a>
  <a routerLink="/all" routerLinkActive="active-link">All Kits</a>
  <a routerLink="/event" routerLinkActive="active-link">Event Kits</a>
  <a routerLink="/gift" routerLinkActive="active-link">Gift Baskets</a>
  <a routerLink="/sale" routerLinkActive="active-link">Sale Kits</a>
  <a routerLink="/login" routerLinkActive="active-link">My Account</a>
</nav>-->
<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
  <a routerLink="/home" routerLinkActive="active-link"><img width="250" alt="Site Logo"
      src="../assets/tempLogo.png" /></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/all" routerLinkActive="active-link">All Kits</a>
      </li>
      <li class="nav-item">
        <a routerLink="/event" routerLinkActive="active-link">Event Kits</a>
      </li>
      <li class="nav-item">
        <a routerLink="/gift" routerLinkActive="active-link">Gift Baskets</a>
      </li>
      <li class="nav-item">
        <a routerLink="/sale" routerLinkActive="active-link">Sale Kits</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="#">Login</a>
          <a class="dropdown-item" href="#">Register</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
          <i class="fab fa-twitter">Favorites</i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
          <i class="fab fa-google-plus-g">Shopping Bag</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->
<div class="black"></div>
<div>
  <router-outlet></router-outlet>
</div>
<footer class="page-footer font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5>Get Exclusive Offers & Updates</h5>
        <form class="input-group" ng-submit="submitForm(userForm.$valid)" novalidate>
          <input type="email" class="form-control" placeholder="Your email">
          <div class="input-group-btn">
            <button class="btn btn-primary" type="submit">Sign up</button>
          </div>
        </form>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h5>HOW CAN WE HELP?</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Customer Service</a>
          </li>
          <li>
            <a href="#!">Track My Order</a>
          </li>
          <li>
            <a href="#!">Returns</a>
          </li>
          <li>
            <a href="#!">Gift Vouchers</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5>ABOUT US</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">About Sitename</a>
          </li>
          <li>
            <a href="#!">Site Map</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">Copyright © 2019
  </div>
</footer>