img {
    width: 100%;
    height: auto;
}

.number {
    font-size: 20px;
}

.price {
    font-size: 16px;
    text-align: right;
}

.col-container {
    display: flex;
    width: 100%;
}

.col {
    flex: 1;
    padding: 16px;
}

.glyphicon.glyphicon-trash {
    font-size: 30px;
}