.cart {
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: none;
    color: black;
    margin-top: 25px;
    font-size: 40px;
  }

  .item {
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(216, 216, 216);
    margin-top: 5px;
  }

  .total {
    font-size: 20px;
  }