.cart {
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: none;
    color: black;
    margin-top: 25px;
    font-size: 24px;
  }
  .col-container {
    display: flex;
    width: 100%;
  }
  .col {
    flex: 1;
    padding: 16px;
  }

  .item {
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(216, 216, 216);
    margin-top: 5px;
  }

  .total {
    font-size: small;
    word-wrap: break-word;
  }

  .totalQnt{
    font-size: small;
    word-wrap: break-word;
  }

  .checkout{
    padding-top: 25px;
  }
  .checkout button{
    font-size: 20px;
    font-weight: bold;
  }
  .help {
    padding-top: 25px;
  }
  .helpLinkMain{
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 5px;
  }
  a {
    font-size: 16px;
    color: black;
    text-decoration-color: maroon;
  }
  a:hover {
    text-decoration: none;
    color: maroon;
  }

  button {
    margin-left: 5px;
  }
