<div class="page">
  <h1>Contact Us!</h1>

  <form (ngSubmit)="processForm()">


    <div class="field">
      <input type="text" name="name" class="input" placeholder="Your Name" [(ngModel)]="name">
    </div>


    <div class="field">
      <input type="email" name="email" class="input" placeholder="Your Email" [(ngModel)]="email">
    </div>


    <div class="field">
      <textarea class="textarea" name="message" placeholder="What's on your mind?" [(ngModel)]="message"></textarea>
    </div>

    <button type="submit" class="button is-danger is-large">Submit</button>

  </form>
</div>