.btn {
  background-color: maroon;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: small;
  height: 40px;
  border: none;
  color: white;
}
.btn:hover {
  opacity: 0.8;
}
form {
  margin: auto;
}
.row {
  margin-top: 10px;
}
label {
  margin-left: 1%;
  font-size: small;
}
.form-control {
  border-color: black;
}
