/* You can add global styles to this file, and also import other style files */
.page {
  min-height: 600px;
  width: 98.55%;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  font-size: 2rem;
  padding-top: 1%;
  padding-bottom: 1%;
  letter-spacing: 8px;
}
h2 {
  color: maroon;
  margin: auto;
  padding-bottom: 1%;
}
h3 {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: maroon;
  text-transform: uppercase;
}
h4{
  font-size: 1rem;;
}
button {
  background-color: maroon;
  color: white;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 40px;
  border: none;
  width: 70%;
  font-size: 75%;
}
button:hover {
  opacity: 0.7;
}
a {
  text-decoration: none;
}
/*Product pages*/
.product-grid .product-discount-label,
.product-grid .product-new-label {
  color: #fff;
  background-color: maroon;
  font-size: 12px;
  text-transform: uppercase;
  padding: 2px 7px;
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
}
.product-grid .product-discount-label {
  background-color: grey;
  left: auto;
  right: 0;
}
.product-grid .social img {
  max-width: 30px;
  max-height: 30px;
}
.product-grid .social {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 50px;
  right: 25px;
  z-index: 1;
}
.product-grid .social li {
  margin: 0 0 10px;
  display: block;
  transform: translateX(100px);
  transition: all 0.5s;
}
.product-grid:hover .social li {
  transform: translateX(0);
}
.product-grid:hover .social li:nth-child(2) {
  transition-delay: 0.15s;
}
.product-grid:hover .social li:nth-child(3) {
  transition-delay: 0.25s;
}
.product-grid .social li i {
  color: maroon;
  background-color: #fff;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: block;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
.product-grid .social li i:hover {
  color: #fff;
  background-color: rgba(128, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.product-grid .social li i:after,
.product-grid .social li fa-icon:before {/*why dies changing this line break it*/
  content: attr(data-tip);
  color: #fff;
  background-color: #000;
  font-size: 12px;
  line-height: 22px;
  border-radius: 3px;
  padding: 0 5px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -30px;
}
.product-grid .social li i:after {
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 0;
  transform: translateX(-50%) rotate(45deg);
  top: -22px;
  z-index: -1;
}
.product-grid,
.product-grid .product-image {
  position: relative;
}
.product-grid {
  font-family: Poppins, sans-serif;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
  transition: all 0.3s ease 0s;
}
.product-grid .product-image a {
  display: block;
}
.product-grid .product-image img {
  width: 100%;
  max-height: 300px;
}
.product-grid .product-content {
  padding: 25px;
}
.product-grid .title {
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0 0 7px;
  transition: all 0.3s ease 0s;
}
.product-grid .price {
  color: maroon;
  font-size: 17px;
  font-weight: 700;
  margin: 0 2px 15px 0;
  display: block;
}
.product-grid .price span {
  color: #909090;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  text-decoration: line-through;
}
.product-grid .add-to-cart {
  border: 1px solid #e5e5e5;
  display: inline-block;
  padding: 10px 20px;
  color: black;
  font-weight: 600;
  font-size: 14px;
  border-radius: 4px;
  transition: all 0.3s;
}
@media only screen and (max-width: 990px) {
  .product-grid {
    margin-bottom: 30px;
  }
}
/*modal*/
h3.modal-title {
  margin: auto;
}