<div class="container">
    <div class='col-12'>
        <ngb-carousel>
            <ng-template ngbSlide>
                <img src="..\assets\grand-opening.jpg" alt="Bangalore Metro">
            </ng-template>
            <ng-template ngbSlide>
                <img src="..\assets\Untitled-1.jpg" alt="Delhi Metro">
            </ng-template>
            <ng-template ngbSlide>
                <img src="..\assets\Untitled-2.jpg" alt="Channai Metro">
            </ng-template>
        </ngb-carousel>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <a href="../sale/sale.component.html" class="card">
                <img class="card-img-top" src="../assets/placeholder.png" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Personalize for Birthday</h4>
                    <p class="card-text">Customize your birthday kit with various colors!</p>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-12">
            <a href="www.google.com" class="card">
                <img class="card-img-top" src="../assets/placeholder.png" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Custom Request</h4>
                    <p class="card-text">Is there something not listed on the website that you want order?</p>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-12">
            <a href="www.google.com" class="card">
                <img class="card-img-top" src="../assets/placeholder.png" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Lorem ipsum</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet.</p>
                </div>
            </a>
        </div>
    </div>
    <h3>Top Categories</h3>
</div>