<div class='col-12'>
    <ngb-carousel>
        <ng-template ngbSlide>
            <img src="..\assets\grand-opening.jpg" alt="Grand Opening 10% Sale">
        </ng-template>
        <ng-template ngbSlide>
            <img src="..\assets\Untitled-1.jpg" alt="">
        </ng-template>
        <ng-template ngbSlide>
            <img src="..\assets\Untitled-2.jpg" alt="">
        </ng-template>
    </ngb-carousel>
</div>
<div class="row">
    <div class="col-lg-4 col-sm-12">
        <a href="../sale/sale.component.html" class="card">
            <img class="card-img-top" src="../assets/placeholder.png" alt="">
            <div class="card-body">
                <h4 class="card-title">Personalize for Birthday</h4>
                <p class="card-text">Customize your birthday kit with various colors!</p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-sm-12">
        <a href="www.google.com" class="card">
            <img class="card-img-top" src="../assets/placeholder.png" alt="">
            <div class="card-body">
                <h4 class="card-title">Custom Request</h4>
                <p class="card-text">Is there something not listed on the website that you want order?</p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-sm-12">
        <a href="www.google.com" class="card">
            <img class="card-img-top" src="../assets/placeholder.png" alt="">
            <div class="card-body">
                <h4 class="card-title">Lorem ipsum</h4>
                <p class="card-text">Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
        </a>
    </div>
</div>
<h3>Top Kits</h3>
<div class="row">
    <div class="col-lg-3 col-sm-6" *ngFor="let kit of tkits">
        <div class="thumbnail">
            <a href="../gift/gift.component.html">
                
                <img src="{{kit.Image}}" alt="Nature" style="width:100%">
                <div class="caption">
                    <p>{{kit.KitName}}</p>
                </div>
            </a>
            <button [routerLink]="['/kitPage',kit.KitID]">{{ kit.KitName }} Kit Page </button>
        </div>
    </div>
</div>