<div class='col-12'>
    <ngb-carousel>
        <ng-template ngbSlide>
            <img src="..\assets\images\GrandOpening.png" alt="Grand Opening 10% Sale">
        </ng-template>
        <ng-template ngbSlide>
            <img src="..\assets\images\Kits.png" alt="Check out or available kits">
        </ng-template>
        <!-- <ng-template ngbSlide>
                <img src="..\assets\Untitled-2.jpg" alt="">
            </ng-template> -->
    </ngb-carousel>
</div>
<div class="row">
    <div class="col-lg-4 col-sm-12">
        <a href="#" class="card">
            <a (click)="setTitle( 'Personalize For Birthday' )" routerLink="/birthday" routerLinkActive="active-link">
                <img class="card-img-top" src="../assets/images/CustomBirthday.png" alt=""></a>
            <div class="card-body">
                <h4 class="card-title"> <a (click)="setTitle( 'Personalize For Birthday' )" routerLink="/birthday"
                        routerLinkActive="active-link">Personalize For Birthday
                    </a></h4>
                <p class="card-text">Customize your birthday kit with various colors!</p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-sm-12">
        <a href="#" class="card">
            <a (click)="setTitle( 'Custom Request' )" routerLink="/contactus" routerLinkActive="active-link"> <img
                    class="card-img-top" src="../assets/images/CustomRequest.png" alt=""> </a>
            <div class="card-body">
                <h4 class="card-title"> <a (click)="setTitle( 'Custom Request' )" routerLink="/contactus"
                        routerLinkActive="active-link">Custom Request
                    </a></h4>
                <p class="card-text">Is there something not listed on the website that you want order?</p>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-sm-12">
        <a href="#" class="card">
            <a (click)="setTitle( 'Get Your Tailgate On' )" routerLink="/tailgate" routerLinkActive="active-link">
                <img class="card-img-top" src="../assets/images/TailgateOffer.png" alt=""> </a>
            <div class="card-body">
                <h4 class="card-title"> <a (click)="setTitle( 'Get Your Tailgate On' )" routerLink="/tailgate"
                        routerLinkActive="active-link">Get Your Tailgate On
                    </a></h4>
                <p class="card-text">This football season get your tailgate on in style with our Tailgte kit.</p>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <h3>Top Kits</h3>
    <div class="row">
        <div class="col-lg-3 col-sm-6" *ngFor="let kit of tkits">
            <div class="thumbnail">
                <a [routerLink]="['/kitPage',kit.KitID]">
                    <img src="{{kit.Image}}" alt="Nature" style="width:100%">
                    <div class="caption">
                        <p>{{kit.KitName}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>